@import '../../../styles/vars.scss';

.imageContain {
  position: relative;
  min-height: 290px;
  max-height: 290px;
  overflow: hidden;
  width: 100%;

  img {
    object-fit: cover;
  }
  @media screen and (min-width: $small) {
    max-width: 400px;
    width: 100%;
  }
}

.linkList {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  margin: 1rem;

  li {
    width: 100%;
  }

  a {
    align-items: center;
    background: $secondaryElementBg;
    box-shadow: 0 1px 1px $secondaryDropShadow;
    border-radius: 20px;
    display: flex;
    padding: 1rem;
    width: 100%;
  }

  @media screen and (min-width: $small) {
    grid-template-columns: 1fr 1fr;
  }
}

.iconContain {
  align-items: center;
  background: $secondaryIconContainBg;
  border-radius: 50%;
  display: flex;
  height: 6.6rem;
  justify-content: center;
  width: 6.6rem;
}

.text {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 2rem;
  text-transform: uppercase;
}