@import '../../../styles/vars.scss';

.itemList {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 1rem;

  @media screen and (min-width: $small) {
    grid-template-columns: 1fr 1fr;
  }
}

.listItem {
  align-items: center;
  background: $mainElementBg;
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  p{
    color: $mainText;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  button {
    background: none;
    border:none;
    cursor: pointer;
    margin-left: auto;
  }
}

.imageContain {
  border-radius: 5px;
  height: 8rem;
  overflow: hidden;
  position: relative;
  width: 8rem;

  img {
    object-fit: cover;
  }
}

.content {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  padding-left: 2rem;
}
