@import '../../../../../styles/vars.scss';

.imageContain {
  position: relative;
  min-height: 300px;
  position: relative;
  width: 100%;

  img {
    object-fit: cover;
  }

  @media screen and (min-width: $small) {
    max-width: 400px;
    width: 100%;
  }
}

.description {
  background: $secondaryElementBg;
  border-radius: 5px;
  margin: 1rem 1rem 0 1rem;
  padding: 0.25rem 50px 0.5rem 1rem;
  position: relative;

  label {
    color: $inputBorderColor;
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.2rem;
    text-transform: capitalize;
  }

  textarea {
    background: none;
    border: none;
    border-bottom: 1px solid $inputBorderColor;
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 300px;
    padding: 0.5rem 0.5rem 0.5rem 0;
    width: 100%;
  }

  p {
    font-weight: 600;
  }
}

.submit {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 0;
  margin-left: auto;
  top: 0;
  width: 40px;
}

.overlay {
  align-items: center;
  background: $darkBlue60;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  label {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }

  p {
    margin-top: 1rem;
    text-align: center;
  }

  input {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  .titleContain {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .iconContain {
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
  }

  p {
    color: $color3;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.photoSubmitButton {
  background: none;
  border: none;
  bottom: 1rem;
  position: absolute;
  right: 1rem;
  z-index: 4;
}