
$small: 768px;

// Colors

$lightBlue: #13678A;
$darkBlue: #012030;
$darkBlue10: rgba(1,32,48, 0.1);
$darkBlue60: rgba(1,32,48, 0.6);
$green75: rgba(156,237,165, 0.75);

$white: #fff;
$darkgray: #0B3344;
$hotPink: #DD2AD6;
$hotPink10: rgba(221,42,214, 0.1);
$hotPink20: rgba(221,42,214, 0.2);
$lightPink: #F89BF4;
$lightGray: #F1F2F6;
$darkerGray: #012030;

$color1: $darkgray; 
$color2: $darkBlue;
$color3: $lightPink;
$color4: $green75;
$color5: $lightBlue;
$color6: $hotPink10;
$color7: $white;
$color8: $lightGray;
$color9: $darkerGray;
$color10: $hotPink;
$color11: $hotPink20;

$mainElementBg: $color1;
$mainDropshadow: $color9;
$mainText: $color3;
$mainIconBackground: $color9;
$mainInputBorderColor: $color3;
$secondaryPageBg: $color7;
$secondaryText: $color2;
$secondaryElementBg: $color8;
$secondaryDropShadow: $color11;
$secondaryIconContainBg: $color6;
$headerBorder: $color10;
$headerDropShadow: $color11;

$labelColor: $color5;
$inputBorderColor: $color5;